docs/_build

.cache
.idea
.coverage
.tags

# Boilerplate
*.py[cod]
.pytest_cache

# IPython and notebooks
*.ipynb_checkpoints
*.ipynb

# atom ide
.ropeproject

# VSCode ide
.vscode/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt
gcloud/cloud_sql_proxy 
gcloud/db-connect.sh

